<div class="hero-section">
  <div class="hero-container">

    <div class="text-container">
      <div class="texts">
        <h2>Pet Store & Beyond</h2>
        <p>This is a sample landing page, created with Figma and Angular.</p>
      </div>
      <a href="https://www.figma.com/community/file/1082720221695561812/landing-page-ui-kit-create-real-websites-with-figma?searchSessionId=luwr3zu5-j0bttgmtj3b"
        class="button">Get Started</a>
    </div>
    <div class="img">
      <img src="./assets/dogs.png" alt="dois cachorros">
    </div>

  </div>
</div>
